/*TodosHeader styles*/
.add-task-field{
    height: 35px;
    width: 350px;
    border: 2px solid #FFA500;
    background-color: #FFF;
    padding-left: 5px;
}
.add-task-btn{
    border: none;
    width: 42px;
    height: 41px;
    background-color: #FFA500;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}
.add-task-btn:hover {
    opacity: 0.7;
}
/*TasksList styles*/
.tasks-table{
    margin: 30px auto;
    width: 350px;
}
.table-header{
    background-color: #FFA500;
}
.left-column-header{
    width: 75%;
}
.tasks-table input{
    width: 100%;
    border: 1px solid #FFA500;
    background-color: #FFA500;
    cursor: pointer;
}
.tasks-table input:hover{
    background-color: #FFF;         
}
.table-body{
    background-color: #4F4F4F;
    color: #FFF;
}
.task-name-column{
    cursor: pointer;
}