/*User style*/
.image-style{
    height: 50px;
    width: 50px;
    border: 2px solid #FFA500;
    border-radius: 50%;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}
.image-style:hover{
    background: #FFA500;
    transform: scale(1.3);
}
/*Popup style*/
@keyframes show{
    0%{
        opacity: 0;
        transform: scale(0.3)
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(0.89);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes hide{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0);
    }
}
.popup-container{
    background-color: #7F7F7F;
    border: 3px solid #FFA500;
    border-radius: 8px;
    height: 220px;
    width: 300px;
    margin: auto;
    display: none;
    position: relative;
    box-shadow: #222 2px 0 10px;
    text-align: center;
}
.popup-container::before{
    position: absolute;
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    border-bottom-color: #FFA500;
    border-width: 15px;
    content: '';
    margin-left: -15px;
}
.show{
    display: block;
    opacity: 1;
    animation: show 0.5s;
}
.hide{
    animation: hide 0.5s;
}
.users-container{
    list-style: none;
}
.user-list{
    list-style: none;
    float: left;
    padding-right: 25px;
    margin-left: -15px;
}
.popup-txt{
    font-size: 18px;
    color: #FFF;
}